################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/out
/autoapp_autogen
/btservice_autogen
/build
/bin
