# Add any directories, files, or patterns you don't want to be tracked by version control
lib/
bin/
build/
.vscode/
openauto.ini
CMakeLists.txt.user
/cmake-build-*/
.idea/
/.vs
/CMakeFiles
*.txt
/Makefile
/cmake_install.cmake
*_autogen/